<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <header
      class="site-header section-padding d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12 mb-3">
            <h1>
              <span class="d-block text-primary">Choose your</span>
              <span class="d-block text-dark">favorite stuffs</span>
            </h1>
          </div>
        </div>
      </div>
    </header>
    <section class="products section-padding">
      <aside>
        
      </aside>
      <div class="container">
        <h3>
          <span class="d-block text-dark" style="margin-top: 100px;">구매 목록</span>
        </h3>
        <div class="row">
          <table width="100%">
            <tr>
            </tr>
          </table>
        </div>
        <div class="table-responsive" style="padding-top: 50px">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">상품</th>
                <th scope="col">수량</th>
                <th scope="col">가격</th>
                <!-- <th scope="col">담은 날짜</th> -->
                <th scope="col">비고</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cart : ${cartList}">
                <td scope="row" th:text="${cart.cartId}"></td>
                <td scope="row" th:text="${product.productName}" ></td>
                <td scope="row" th:text="${product.productStock}" ></td>
                <td scope="row" th:text="${product.productPrice}" ></td>
                <!-- <td scope="row" th:text="${cart.productName}" ></td> -->
                <!-- <td scope="row" th:text="${cart.productStock}"></td> -->
                <!-- <td scope="row" th:text="${cart.productPrice}">원</td> -->
                <td><a href="#" class="btn btn-danger">삭제</a></td>
              </tr>
              <!-- <tr>
                <td scope="row">1</td>
                <td scope="row">productName</td>
                <td scope="row">productStock</td>
                <td scope="row">productPrice</td>
                <td><a href="#" class="btn btn-danger">삭제</a></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td scope="row">productName</td>
                <td scope="row">productStock</td>
                <td scope="row">productPrice</td>
                <td><a href="#" class="btn btn-danger">삭제</a></td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td scope="row">productName</td>
                <td scope="row">productStock</td>
                <td scope="row">productPrice</td>
                <td><a href="#" class="btn btn-danger">삭제</a></td>
              </tr> -->
            </tbody>
            <!-- <c:forEach var="c" items="${cartlist}">
            <c:set var="sum" value="${sum + (c.unitPrice) * (c.quantity) }" />
              <tr>
                <td>${c.productId} - ${c.pname}</td>
                <td><fmt:formatNumber value="${c.unitPrice}"/>원</td>
                <td>${c.quantity}</td>
                <td><fmt:formatNumber value="${(c.unitPrice) * (c.quantity)}"/>원</td>
                <td><a href="/cart/delete?id=${c.cartId}" class="badge badge-danger">삭제</a></td>
              </tr>
            </c:forEach> -->
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th>총액</th>
                <th>원</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <hr>
      </div>
    </section>
  </div>
</html>
